pipeline:
  wal:
    enabled: false
    path: /tmp/dbsp-wal.db
  source:
    type: chain
    config:
      sources:
        - type: csv
          config:
            path: examples/data.csv
            schema:
              time_bucket: string
              amount: float
              product: string
        - type: http
          config:
            port: 8080
            path: /ingest
            schema:
              time_bucket: string
              amount: float
              product: string
  transform:
    type: sql
    join_ttl: "10 minutes"
    # watermark:
    #   enabled: true
    #   max_out_of_orderness: "2s"
    #   allowed_lateness: "1s"
    #   policy: drop   # drop|buffer|emit
    #   max_buffer_size: 1000
    query: "SELECT time_bucket, SUM(amount) as total_sales FROM sales GROUP BY time_bucket"
  sink:
    type: console
    config:
      format: json
